/* Variables */

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');
$mainFont: 'Dosis';
$secondaryFont: 'sans-serif';

// Colors
$yellow: #fff159;
$black: #333;
$white: #fff;
$grey: #e0dbdb;
$lightGrey: #ebebeb;
$lightBlue: #3483fa;
$lightBlue2: #5c98f1;
